{% extends "app/layout.html" %}

{% block content %}

<h2>Supermercado Sacolão.</h2>
<h3>O novo supermercado Online de são paulo</h3>

<address>
    Empresa de alimentos<br />
    Rua sampaio, 345<br />
    <abbr title="Telefone">Tel:</abbr>
    968110454
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
